# Supabase Configuration
VITE_SUPABASE_URL=https://yonisrknsnsrigmgrcvk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlvbmlzcmtuc25zcmlnbWdyY3ZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg1NTQyNzIsImV4cCI6MjA2NDEzMDI3Mn0.XOdf0QUrpyUfj-CeUL-WNaYUZ8LqXu2ZvYNU_pJahVM
